//google font==========================================================================

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Ubuntu:wght@300;400;500;700&display=swap");

//ICON font ============================================================================

// @import "font/iconfont";

// SETTINGS ====================================================================

// font =================================================================================
$fontFamily: "Ubuntu", sans-serif;

// colors ===================================================================
$mainColor: #171719;
$secondColor: #5d6bb8;
$whiteColor: #f7f9ff;

// font settings ==============================================================
$fontSize: 17px;
$fontWeight: 400;

// sizes ======================================================================
$containerWidth: 1220px;

// 0 - without paddings
$containerPaddings: 15px;

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: $containerWidth;
  padding: 0 $containerPaddings;
  margin: 0 auto;
  box-sizing: content-box;
}

// reset styles=============================================================
@import "base/null";
@import "blocks/header-top";
@import "blocks/header-bottom";
