.header {

    &__bottom {
        margin-top: 20px;
    }
}

.header-bottom {

    &__container {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    &__logo {
    }

    &__catalog {
    }

    &__search {
    }

    &__actions {
    }
}

.logo {
    flex: 0 0 212px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    img {
        width: 41px;
        height: 41px;
    }

    span {
        font-weight: 500;
        font-size: 32px;
        color: $mainColor;
    }
}

.catalog {
    border-radius: 8px;
    padding: 17px 28px;
    background-color: $secondColor;
    flex: 0 0 154px;
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    &__caption {
        font-weight: 500;
        line-height: 130%;
        color: #f7f9ff;

    }

    &__hamburger {
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
        display: block;
        background-color: #fff;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        }
    }


}


.search {
    flex: 0 1 435px;
    &__form {
        width: 100%;
        display: flex;
    }

    &__input {
        background-color: $whiteColor;
        border-bottom: 1px solid #6c6e7b;
        border-left: 1px solid #6c6e7b;
        border-top: 1px solid #6c6e7b;
        border-radius: 8px 0 0 8px;
        padding: 16px;
        line-height: 130%;
        color: #6c6e7b;
        flex: 0 1 100%;
        &:focus {
            outline: none;
        }
    }

    &__btn {
        background-color: $secondColor;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 8px 8px 0;
        padding: 10px;
        flex: 0 0 56px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.actions {
    display: flex;
    column-gap: 8px;
    &__btn {
    }
}

.act-btn {
    // flex: 1 1 160px;
    position: relative;
    border: 2px solid #6c6e7b;
    border-radius: 8px;
    padding: 16px 28px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    &__img {
        width: 24px;
        height: 24px;
    }

    &__name {
        font-weight: 500;
        line-height: 130%;
        color: $mainColor;
    }

    &__circle {
        position: absolute;
        background-color: $secondColor;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        color: $whiteColor;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        top: 4px;
        right: 4px;
    }
}

// @media (max-width: 1130px) {
//     .header-bottom {
//         &__container {
//             column-gap: 15px;
//             flex-wrap: wrap;
//         }
//     }

//     .catalog {
//         order: 4;
//     }

//     .search {
//         flex: 1 1 100%;
//     }
// }